body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
    color: #212529;
}

header {
    background-color: #6c757d;
    color: #f8f9fa;
    padding: 15px 25px;
    text-align: center;
    font-size: 24px;
}

section {
    margin: 30px;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

label {
    font-weight: bold;
    margin-right: 12px;
}

input[type="number"], input[type="text"], select {
    padding: 10px;
    margin-right: 12px;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    display: inline-block;
    width: auto;
}

button {
    background-color: #17a2b8;
    border: none;
    color: #ffffff;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 3px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #138496;
    transform: scale(1.05);
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border-color: #adb5bd;
}
