body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#encabezado {
    text-align: center;
    padding-bottom: 20px;
}


#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline;
    margin-right: 20px;
}

#menu ul li a {
    text-decoration: none;
    color: #333; 
}

#menu ul li a:hover {
    color: #FF1493;
}

#pie {
    text-align: center;
    margin-top: 50px;
}
